.lists {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.lists__active {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: scroll;
}

@media (min-width: 481px) {
  .lists {
    /* header=45px,  footer=20px */
    height: calc(100% - 45px - 20px);
    border-right: 1px solid #e3e3e3;
    width: 270px;
  }
  .lists__active {
    /* padding-right: 40px; */
    /* border-right: 1px solid #D8D8D8; */
  }
  .lists__add {
    margin: 0;
    padding: 0 25px 0 0;
  }
}

@media (min-width: 481px) {
  .lists {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .lists {
    /* header=45px,  footer=20px */
    height: calc(100% - 35px - 20px);
    margin: 0;
    padding: 5px;
  }
}