* {
  scrollbar-width: thin;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: none;
}
*::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: lightgray;
  border-radius: 20px;
}

.notes {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.notes__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.notes__nav button {
  cursor: pointer;
}

.notes__heading {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 3px;
  font-weight: 400;
}
.notes__heading-edit {
  font-size: 18px;
  margin: 0;
  padding: 2px;
  font-weight: 400;
  background: #FFF;
  border: 1px solid #dedede;
  width: 65%;
}

.notes__header-leftsection,
.notes__header-rightsection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.notes__header-leftsection > *:nth-child(1),
.notes__header-rightsection > *:nth-child(1) {
  display: flex;
  margin-right: 20px;
}


.notes__back,
.notes__update,
.notes__edit,
.notes__dotsmenu {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  display: flex;
}

.notes__back img,
.notes__update img {
  width: 17px;
}
.notes__edit img,
.notes__dotsmenu img {
  width: 15px;
}

.notes__list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.4em;
}


@media (min-width: 481px) {
  .notes {
    /* header=45px,  footer=20px */
    height: calc(100% - 45px - 20px);
    /* padding: 10px; */
    flex: 1;
    box-sizing: border-box;
  }
  .notes > h3 {
    padding-left: 40px
  }
  .notes__list {
    /* padding-top: 10px; */
  }
  .notes__nav {
    padding: 2px 5px;
    border-bottom: 1px solid #bdbdbd;
  }
}

@media (max-width: 480px) {
  .notes {
    /* header=35px,  footer=20px */
    /* height: calc(100% - 35px - 20px); */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    flex: 1;
  }
  .notes__nav {
    padding: 5px 10px;
    border-bottom: 1px solid #bdbdbd;
  }
  .notes__list {
    /* padding: 10px; */
  }
  
}