
* {
  scrollbar-width: thin;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: none;
}
*::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: lightgray;
  border-radius: 20px;
}



.notes {
  height: 90%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.notes > h3 {
  font-size: 21px;
  margin: 0;
  padding: 0 0 10px 0;
}

.notes__list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.4em;
}

.notes__add {
  margin: 0;
}

.notes__add-item {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.notes__add-item > * {
  margin: 0;
  padding: 0;
}

.notes__add-item > img {
  min-width: 15px;
  max-width: 15px;
}

.notes__add-item > input {
  flex-grow: 1;
  /* font-size: 16px; */
  opacity: 50%;
}

.notes__add-item > button {
  flex-grow: 1;
  /* font-size: 15px; */
  opacity: 50%;
}


@media (min-width: 481px) {
  .notes {
    width: 50%;
    padding: 20px 20px 20px 0;
    /* overflow-y: scroll; */
  }
  .notes > h3 {
    padding-left: 40px
  }
  .notes__list {
    padding-left: 40px;
    border-left: 1px solid #D8D8D8;
    margin-left: -1px;
    overflow-y: scroll;
  }
  .notes__list:hover {
    /* overflow-y: scroll; */
  }



  .notes__add {
    margin: 0;
    padding: 0px 0px 0px 40px;
  }
}

@media (max-width: 480px) {
  .notes {
    box-sizing: border-box;
    margin: 0 10px;
    flex: 1;
    padding: 15px;
    overflow-y: scroll;
  }
  .notes__list {
    overflow-y: scroll;
  }
  .notes__add {
    margin: 5px 0 0 0;
    padding: 0px 0px 10px 0;
  }
}