.login {
  background: #ffdb9a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.login__title h1 {
  color: #303030;
  margin: 0;
}

.emphasise {
  color: #ffa500;
  font-style: italic;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 30px;
  border-radius: 5px;
}
.login__form button {
  align-self: center;
}
.login__form input {
  margin: 0 0 35px 0;
  padding: 8px;
  color: #838383;
  border: 1px solid #bebebe;
  border-radius: 5px;
}
.login__form input::selection {
  background: #ffdb9a;
}

.login__submit-button {
  background: #ffa500;
  color: #303030;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 0.9em;
  cursor: pointer;
}

.login__register {
  margin: 35px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #838383;
}

.login__register-button {
  margin: 5px;
  font-size: 0.75em;
  color: #838383;
  text-decoration: underline;
  border: none;
  background: none;
  cursor: pointer;
}

@media (min-width: 481px) {
  .login {
    width: 800px;
  }
}