.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.login__title {
  margin-bottom: 100px;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.emphasise {
  color: #fff;
  font-style: italic;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.login__header {
  margin-bottom: 25px;
  font-size: 1.2em;
  color: #6F6F6F;
}

.login__username {
  margin: 5px;
  color: #838383;
}

.login__username input,
.login__password input {
  padding: 5px;
  border: 1px solid #f5fcff;
  border-radius: 0;
}

.login__password {
  margin: 5px;
  color: #838383;
}

.login__submit {
  margin-top: 15px;
  align-self: center;
}

.login__submit-button {
  background: #484848;
  color: #FFF;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 0.9em;
  cursor: pointer;
}

.login__register {
  margin: 35px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #838383;
}

.login__register-button {
  margin: 5px;
  font-size: 0.75em;
  color: #838383;
  text-decoration: underline;
  border: none;
  background: none;
  cursor: pointer;
}