.note {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 100%; */
  margin: 0;
  padding: 5px 10px;
  border-bottom: 1px solid #FFEE00;
}

.note:hover {
  font-weight: 500;
}

.note__icon {
  margin: 0 7px 0 0;
  padding: 0 3px 0 0;
  width: 15px;
}

.note__edit {
  margin: 0 7px 0 0;
  padding: 0 3px 0 0;
}

.note__text {
  width: 200px;
  margin: 0 7px 0 0;
  padding: 0 3px 0 0;
  font-size: 16px;  
}

.note__delete {
  margin: 0 7px 0 0;
  padding: 0 3px 0 0;
}

.note__edit,
.note__delete {
  cursor: pointer;
  opacity: 10%;
  width: 15px;
}
.note__edit:hover,
.note__delete:hover {
  opacity: 90%;
}

.note__text-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.note__text-edit > textarea {
  width: 200px;
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 6px;
  outline: none;
}

.note__text-edit > button {
  margin: 0;
  padding: 0;
  width: 50px;
  background: none;
  border: none;
  cursor: pointer;
  /* border: 1px solid red; */
}
.note__text > * > button:hover {
  font-weight: 500;
}