.activelist, .activelist__list, .activelist__list > * {
  margin: 0;
}

.activelist {
  flex: 1;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #545454;
}

.activelist__header {
  display: flex;
  font-size: 1.2em;
}

.activelist__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.activelist__item {
  list-style: none;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .activelist {
    flex: 1;
    padding: 10px;
  }
}

@media (min-width: 601px) {
  .activelist {
    flex: 1;
    padding: 20px;
  }
}

/* .activelist__item-checkbox {
  
} */

.activelist__item-name {
  padding-left: 2px;
}