.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #f1f1f1;
  color: #545454;
  box-sizing: border-box;
}

/* @media (max-width: 600px) {
  .main {
    flex-direction: column;
    line-height: 1.3em;
  }
}

@media (min-width: 600px) {
  .main {
    flex-direction: row;
    flex: 1;
    line-height: 1.3em;
  }
} */