.collection {
  box-sizing: border-box;
  width: 20%;
  height: 80vh;
  background-color: #e4e4e4;
  color: #545454;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.collection__header {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection__header-title {
  margin: 0;
  font-size: 1em;
  margin-top: 5px;
}