.nav {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 10px;
  background-color: #545454;
}

.nav__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.nav__user-image {
  width: 40px;
  height: 40px;
  margin: 0;
}

.nav__user-name {
  margin: 0;
  font-size: 1.3em;
  padding-left: 5px;
}