.lists * * * * {
  box-sizing: border-box;
}

.lists {
  display: flex;
  flex: 3;
  flex-direction: column;
  margin: 0;
  padding: 15px 30px;
  background-color: #c2c2c2;
  font-size: 18px;
}

.lists > h3 {
  margin: 0;
  padding: 10px 0;
}

.lists__active {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.6em;
}

.lists__active-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.lists__active-item:hover {
  font-weight: 500;
}

.lists__active-item:hover {
  color: #191919;
  cursor: pointer;
}

.lists__active-item > * {
  margin: 0;
  padding: 0;
}

.lists__active-name {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.lists__active-name > * {
  margin-right: 5px;
}

.lists__active-count {
  display: flex;
}

.lists__active-delete {
  margin: 3px;
  cursor: pointer;
  opacity: 10%;
}

.lists__active-delete:hover {
  opacity: 90%;
}

.lists__add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.lists__add > * {
  margin: 0;
  padding: 0;
}

.lists__add > img {
  min-width: 15px;
  max-width: 15px;
}

.lists__add > input {
  box-sizing: border-box;
  flex-grow: 1;
  font-size: 16px;
  opacity: 50%;
}

.lists__add > button {
  flex-grow: 1;
  font-size: 15px;
}

@media (min-width: 601px) {
  .lists {
    flex: 1;
    border-right: 10px solid #f1f1f1;
  }
}

@media (max-width: 600px) {
  .lists {
    flex: 1;
  }
}