.lists {
  height: 90%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-size: 16px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.lists > h3 {
  font-size: 21px;
  margin: 0;
  padding: 0 0 10px 0;
}

.lists__active {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.4em;
}

.lists__active-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.lists__active-name-icon,
.lists__active-name-text,
.lists__active-name-edit,
.lists__active-name-delete {
  /* margin: 0 10px; */
}

.lists__active-name-text > input {
  width: 120px;
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 6px;
}
.lists__active-name-text > button {
  margin: 0;
  padding: 0;
  width: 50px;
  background: none;
  border: none;
  cursor: pointer;
  /* border: 1px solid red; */
}

.lists__active-item:hover {
  font-weight: 500;
}

.lists__active-item:hover {
  color: #191919;
  cursor: pointer;
}

.lists__active-item > * {
  margin: 0;
  padding: 0;
}

.lists__active-name {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.lists__active-name > * {
  margin-right: 5px;
}

.lists__active-delete {
  margin: 3px;
  cursor: pointer;
  opacity: 10%;
}

.lists__active-delete:hover {
  opacity: 90%;
}

.lists__add {
  margin: 0;
  padding: 0;
}

.lists__add-item {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.lists__add-item > * {
  margin: 0;
  padding: 0;
}

.lists__add-item > img {
  min-width: 15px;
  max-width: 15px;
}

.lists__add-item > input {
  flex-grow: 1;
  /* font-size: 16px; */
  opacity: 50%;
}

.lists__add-item > button {
  /* font-size: 15px; */
  opacity: 50%;
}

@media (min-width: 481px) {
  .lists {
    padding: 20px 0 20px 20px;
    width: 50%;
  }
  .lists__active {
    padding-right: 40px;
    border-right: 1px solid #D8D8D8;
  }
  .lists__add {
    margin: 0;
    padding: 0 25px 0 0;
  }
}

@media (max-width: 480px) {
  .lists {
    border-bottom: 1px solid #D8D8D8;
    margin: 0 10px;
    padding: 15px;
    flex: 1;
    overflow-y: scroll;
  }
  .lists > h3 {
    margin: 0;
  }
  .lists__active {
    overflow-y: scroll;
  }
  .lists__add {
    margin: 5px 0 0 0;
    padding: 0;
  }
}