.lists {
  display: flex;
  flex: 3;
  flex-direction: column;
  margin: 0;
  padding: 15px 30px;
  background-color: #c2c2c2;
  font-size: 18px;
}

.lists__active {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.6em;
}

.lists__active-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.lists__active-item:hover {
  color: #191919;
  cursor: pointer;
}

.lists__active-item > * {
  margin: 0;
  padding: 0;
}

.lists__active-name {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.lists__active-name > * {
  margin-right: 5px;
}

.lists__active-count {
  display: flex;
  justify-content: flex-end;
  width: 65px;
}

.lists__add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.lists__add > * {
  margin: 8px 0 0 0;
  padding: 0;
}

.lists__add > input {
  margin-left: -8px;
  font-size: 16px;
}

.lists__add > button {
  margin-right: -8px;
  font-size: 15px;
}

@media (min-width: 601px) {
  .lists {
    flex: 1;
    border-right: 10px solid #f1f1f1;
  }
}

@media (max-width: 600px) {
  .lists {
    flex: 1;
  }
}