.main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.main__center {
  flex: 1;
  padding: 15px;
}

@media (min-width: 601px) {
  .main {
    max-width: 700px;
  }
  .main__center {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
}

@media (max-width: 480px) {
  .main {
    height: 100vh;
    width: 100vw;
  }
  .main__center {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}