.notes * * * {
  box-sizing: border-box;
}

.notes {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  padding: 15px 30px;
  background-color: #D8D8D8;
  font-size: 18px;
}

.notes > h3 {
  margin: 0;
  padding: 10px 0;
}

.notes__item {
  display: flex;
  align-items: center;
}

.notes__item:hover {
  font-weight: 500;
}

.notes__item > img {
  margin-right: 5px;
}

.notes__item-delete {
  margin: 3px;
  /* margin-left: auto; */
  cursor: pointer;
  opacity: 25%;
}

.notes__add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.notes__add > * {
  margin: 0;
  padding: 0;
}

.notes__add > img {
  min-width: 15px;
  max-width: 15px;
}

.notes__add > input {
  flex-grow: 1;
  font-size: 16px;
  opacity: 50%;
}

.notes__add > button {
  flex-grow: 1;
  font-size: 15px;
  opacity: 50%;
}



.notes__item-delete:hover {
  opacity: 90%;
}

@media (min-width: 601px) {
  .lists {
    flex: 1;
  }
}

@media (max-width: 600px) {
  .lists {
    flex: 1;
  }
}

.notes__list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.6em;
}